.app {
    position: relative;
    width: 100%;
    /* display: flex; */
}

.app-header {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* ---------- */
    padding: 20px 15px;
    /* ---------- */
    box-shadow: 0 10px 30px rgba(0,35,75,0.15);
}

.app-header__title {
    position: relative;
    width: auto;
    display: block;
    /* ---------- */
    padding: 0 0 0 60px;
    /* ---------- */
    font-size: 32px;
    color: rgba(0,0,0,0.6);
}

.app-header__title::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 40px;
    height: 40px;
    display: block;
    /* ---------- */
    background: url(images/logo-myreads.svg) center center no-repeat;
    background-size: 40px 40px;
    /* ---------- */
    transform: translateY(-50%)
}

.app-header__back-button {
    position: absolute;
    top: 50%;
    left: 30px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* ---------- */
    background: linear-gradient(130deg, rgba(255,112,186,1) 0%, rgba(178,48,220,1) 100%);
    /* ---------- */
    border-radius: 50%;
    /* ---------- */
    box-shadow: 0 5px 10px rgba(0,35,75,0.15);
    /* ---------- */
    transform: translateY(-50%);
}

.app-header__back-button::before {
    content: '';
    position: relative;
    width: 15px;
    height: 15px;
    display: block;
    /* ---------- */
    background-image: url(images/arrow-icon-left.svg);
    background-position: center center;
    background-size: 15px auto;
}

.app-add-book {
    position: fixed;
    right: 45px;
    bottom: 45px;
    width: 75px;
    height: 75px;
    display: block;
    /* ---------- */
    background: linear-gradient(130deg, rgba(255,112,186,1) 0%, rgba(178,48,220,1) 100%);
    /* ---------- */
    border-radius: 50%;
    /* ---------- */
    box-shadow: 0 10px 20px rgba(0,35,75,0.25);
}

.app-add-book::before, .app-add-book::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    /* ---------- */
    background: #fff;
    /* ---------- */
    border-radius: 2px;
    /* ---------- */
    transform: translate(-50%,-50%);
}

.app-add-book::before {
    width: 4px;
    height: 25px;
}

.app-add-book::after {
    width: 25px;
    height: 4px;
}